html {
	 -webkit-box-sizing: border-box;
	         box-sizing: border-box;
}

*, *::before, *::after {
	 -webkit-box-sizing: inherit;
	         box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	        clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* навигация */

.nav {
	position: relative;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.nav-list {
	list-style: none;
	margin: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 15px 0;
}

.nav-list a {
	color: #000000;
}

.nav-list a:hover {
	color: #81b3d2;
}

.nav-list a:active {
	color: #000000;
	opacity: 0.3;
}

.nav-item.active {
	color: #766357;
}

.nav-logo {
	position: absolute;
	top: 0px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	width: 138px;
	height: 70px;
}

.nav-item {
	width: 240px;
	text-align: center;
}

.nav-item:nth-child(3) {
	margin-left: 240px;
}

/* контентное изображение */

.banner {
	margin-bottom: 61px;
	background-color: #ffffff;
}

/* слоган */

.slogan {
	width: 500px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #ffffff;
}

.slogan-title {
	margin-bottom: 28px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.slogan-text {
	line-height: 26px;
}

/*    index   */

.wrap,
.features-list,
.attraction-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.original,
.showplace {
	text-align: center;
	color: #ffffff;
	background-color: #81b3d2;
}

.original-number {
	margin-top: 22px;
	margin-bottom: 22px;
}

.features-title {
	margin-bottom: 28px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.features-item {
	text-align: center;
	background-image: url(img/icon-1.svg);
}

.wrap h2 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}

.attraction {
	position: relative;
	z-index: 5;
	text-align: center;
	background-color: #eeeeee;
}

.appointment {
	position: relative;
	z-index: 20;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #ffffff;
}

.appointment-title {
	position: relative;
	z-index: 10;
	margin-top: 0px;
	padding-top: 52px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	background-color: #ffffff;
}

.appointment a {
	position: relative;
	z-index: 10;
	display: block;
	width: 568px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	padding-top: 35px;
	padding-bottom: 27px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	background-color: #766357;
}

.modal-button:hover {
	background-color: #604e43;
}

.modal-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.container {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	background-color: #ffffff;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.1);
	        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.original {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.original-item-left {
	width: 400px;
	padding-top: 46px;
	padding-left: 60px;
	padding-right: 60px;
}

.original-item-right,
.showplace-item-left {
	width: 800px;
	height: 256px;
}

h2.original-title,
h2.showplace-title {
	margin: 0;
	padding: 0;
}

.original-item-left,
.showplace-item-right {
	padding-bottom: 20px;
}

.features-list {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding-bottom: 66px;
	padding-top: 140px;
}

.features-item {
	width: 400px;
}

.features-item:nth-child(1) {
	padding-left: 72px;
	padding-right: 72px;
}

.features-item:nth-child(2) {
	padding-left: 58px;
	padding-right: 58px;
}

.features-item:nth-child(3) {
	padding-left: 64px;
	padding-right: 64px;
}

.features-item:nth-child(1)::before {
	content: "";
	position: absolute;
	top: 60px;
	left: 162px;
	width: 75px;
	height: 72px;
	background-image: url(../img/icon-1.svg);
	background-repeat: no-repeat;
}

.features-item:nth-child(2)::before {
	content: "";
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -32px;
	width: 74px;
	height: 70px;
	background-image: url(../img/icon-2.svg);
	background-repeat: no-repeat;
}

.features-item:nth-child(3)::before {
	content: "";
	position: absolute;
	top: 60px;
	left: 965px;
	width: 64px;
	height: 76px;
	background-image: url(../img/icon-3.svg);
	background-repeat: no-repeat;
}

.showplace {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.showplace-item-right{
	width: 400px;
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
	padding-left: 49px;
	padding-top: 49px;
	padding-right: 49px;
}

.showplace-number {
	margin-top: 20px;
	margin-bottom: 20px
}

.attraction-list {
	position: relative;
	z-index: 10;
	margin: 0;
	padding: 0;
	padding-top: 46px;
	padding-bottom: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

ul.attraction-list {
	position: relative;
	z-index: 10;
}

.attraction-title {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	width: 123px;
	text-align: center;
}

.attraction-text {
	margin-bottom: 0;
}

.attraction-item {
	width: 400px;
	margin-top: 0;
	margin-bottom: auto;
}

.attraction-item:nth-child(1) {
	padding-left: 95px;
	padding-right: 95px;
}

.attraction-item:nth-child(2) {
	padding-left: 68px;
	padding-right: 68px;
}

.attraction-item:nth-child(3) {
	padding-left: 70px;
	padding-right: 70px;
}

.attraction-number {
	margin-top: 24px;
	margin-bottom: 22px;
}

.appointment-text {
	margin-bottom: 50px;
}

a.modal-button {
	position: relative;
	padding-top: 32px;
	cursor: pointer;
	z-index: 8;
}

.map {
	z-index: 1;
	background-image: url(img/map.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.map iframe {
	z-index: 2;
	border: none;
}

/* catalog форма поиска жилья */

.filter fieldset {
	border: none;
}

.search-filter {
	background-color: #81b3d2;
	background-image: url(../img/filter-background.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.filter legend {
	margin: 0;
	margin-bottom: 22px;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
}

.filter ul {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 0;
	padding: 0;
	color: #ffffff;
}

form.filter {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 1200px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding: 28px 72px 5px 72px;
}

fieldset.first-column,
fieldset.middle-column,
.last-column {
	margin: 0;
	padding: 0;
	margin-bottom: auto;
}

fieldset.first-column,
fieldset.middle-column {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 255px;
	padding-right: 20px;
}

.last-column {
	width: 314px;
	margin-left: auto;
	color: #ffffff;
	text-transform: uppercase;
}

.first-column ul,
.middle-column  ul,
.last-column fieldset {
	margin: 0;
	padding: 0;
}

.filter-option {
	font-size: 14px;
	line-height: 21px;
}

li.filter-option {
	margin-bottom: 26px;
	padding-left: 40px;
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -40px;
	top: 0;
	width: 23px;
	height: 23px;
	background-image: url(../img/checkbox-off.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
}

.filter-input-checkbox:checked + label::before {
	width: 27px;
	height: 23px;
	background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox:checked:disabled + label::before {
	background-image: url(../img/checkbox-on-disabled.svg);
}

.filter-input-checkbox:disabled + label::before {
	background-image: url(../img/checkbox-off-disabled.svg);
}

.last-column-title {
	margin-bottom: 9px;
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.price-controls label {
	font-size: 14px;
	line-height: 30px;
	vertical-align: middle;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 20px;
	height: 20px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
	        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.range-toggle:hover {
	top: -10px;
	border: 9px solid #ffffff;
	width: 22px;
	height: 22px;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}

/* catalog результаты поиска */

.search-result-caption {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.search-result h4 {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

.search-result {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	background-color: #ffffff;
}

.search-result ul {
	list-style: none;
}

.search-result-link {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.search-result-link:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.search-result-link:active {
	color: #000000;
	border: none;
}

.active {
	color: #81b3d2;
	border: none;
}

.search-form {
	position: relative;
}

.search-result {
	margin: 0;
	padding: 31px 72px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	border-bottom: 1px solid #f2f2f2;
}

.search-result-caption {
	margin: 0;
	padding: 0;
	width: 135px;
}

.search-result-navigation {
	margin: 0;
	padding: 0;
	padding-left: 30px;
	width: 680px;

}

.search-result-navigation h4,
.search-result-list {
	margin: 0;
	padding: 0;
}

.search-result-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.search-result-item {
	margin-right: 33px;
}

.search-result-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.search-result-navigation h4 {
	margin-right: 38px;
}

.search-result-arrow {
	margin: 0;
	padding: 0;
	width: 241px;
}

.arrow-list {
	margin: 0;
	padding: 0;
	padding-top: 6px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.arrow-item {
	width: 11px;
	height: 10px;
}

.arrow-item:last-child {
	width: 11px;
	height: 10px;
	margin-left: 12px;
}

.arrow-item:first-child:active path {
	fill: #81b3d2;
}

.arrow-item:hover path {
	fill: #000000;
}

.active path {
	fill: #81b3d2;
}

/* каталог отелей */

.img {
	width: 135px;
	height: 90px;
}

.hotel-title {
	margin: 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	font-weight: 700;
}

.hotel-title a {
	color: #000000;
}

.hotel-title a:hover {
	color: #81b3d2;
}

.hotel-title a:active {
	color: #000000;
	opacity: 0.3;
}

.hotel-tipe,
.price {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.button-info {
	font: inherit;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	background-color: #81b3d2;
	text-transform: uppercase;
}

.button-book {
	font: inherit;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	background-color: #766357;
	text-transform: uppercase;
}

.button-info:hover {
	background-color: #669ec0;
}

.button-info:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.button-book:hover {
	background-color: #604e43;
}

.button-book:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.rating-number {
	color: #666666;
	background-color: #f2f2f2;
}

a.button-info {
	display: inline-block;
	width: 110px;
	padding: 3px 16px;
	margin-right: 2px;
}

a.button-book {
	display: inline-block;
	width: 142px;
	padding: 3px 14px;
}

span.hotel-tipe {
	display: inline-block;
	width: 110px;
	height: 27px;
	margin-right: 2px;
}

span.price {
	display: inline-block;
	width: 142px;
	height: 27px;
}

div.information-item {
	margin-bottom: 8px;
}

h3.hotel-title {
	margin-bottom: 6px;
	margin-top: -5px;
}

.catalog {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.hotel-item {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	padding: 28px 72px;
	border-bottom: 1px solid #f2f2f2;
}

.rating {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	width: 241px;
	margin: 0;
	padding: 0;
}

span.rating-number {
	width: 110px;
	height: 27px;
	text-align: center;
	padding-top: 4px;
}

.star-content-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: -5px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 92px;
	height: 27px;
	margin-bottom: 40px;
}

.star-content-list.thristar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 65px;
	height: 27px;
	margin-bottom: 40px;
}

.star-content-list.twostar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 41px;
	height: 27px;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

li.star-content-item {
	width: 18px;
	height: 17px;
	background-image: url(../img/star.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

div.description {
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 680px;
	padding-left: 30px;
}

/*  footer  */

.footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin: 0;
	padding: 36px 0px;
}

.footer.main {
	position: absolute;
	bottom: 0px;
	background-color: rgba(255,255,255,0.9);
}

.contacts,
.social,
.footer-copyright {
	margin: 0;
	padding: 0;
	width: 400px;
	text-align: center;
}

.contacts a {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	color: #000000;
}

.social {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	width: 400px;
	height: 48px;
}

.social li {
	width: 46px;
	height: 48px;
	margin-right: 6px;
}

.social-button {
	display: block;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.social-button::after {
	content: "";
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	background-repeat: no-repeat;
}

.social-button-twitter::after {
	left: 35%;
	width: 17px;
	height: 15px;
	background-image: url(../img/twitter.svg);
}
.social-button-facebook::after {
	left: 48%;
	width: 12px;
	height: 22px;
	background-image: url(../img/fb-icon.svg);
}

.social-button-youtube::after {
	left: 60%;
	width: 20px;
	height: 16px;
	background-image: url(../img/youtube.svg);
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:active::after {
	opacity: 0.3;
}

.footer-copyright {
	position: relative;
	vertical-align: middle;
	padding-right: 120px;
	text-align: center;
}

.button-website {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	left: 46%;
	width: 115px;
	height: 41px;
}

.button-website:hover path {
	fill: #81b3d2;
}

.button-website:active path {
	fill: #bdbbbc;
}

/*  index форма поиска жилья */

.modal {
	position: absolute;
	left: 50%;
	margin-left: -284px;
}

.modal form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 568px;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin: 0;
	padding: 55px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.1);
	        box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.search-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	list-style: none;
	width: 458px;
	margin: 0;
	padding: 0;
}

.last-row {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 458px;
	margin: 0;
	padding: 0;
	margin-bottom: 54px;
}

.search-form {
	font: inherit;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.search-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 458px;
	margin-bottom: 30px;
}

.search-item label {
	display: block;
	width: 112px;
	margin: 0;
	padding: 0;
	padding-top: 8px;
}

.search-item input[type="text"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 346px;
	height: 38px;
	padding: 14px 40px 13px 13px;
	border: none;
	background-color: #f2f2f2;
}

.search-item {
	position: relative;
}

.search-item svg {
	position: absolute;
	left: 428px;
	top: 8px;
}

.search-item path {
	fill: #a9a9a9;
}

.search-item:hover path {
	fill: #000000;
}

.search-item:active path {
	fill: #8bb2cf;
}

.adults-item {
	margin-right: 53px;
}

.last-row-item.adults-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	width: 226px;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.last-row-item.child-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	width: 226px;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.adults-item label {
	display: block;
	width: 112px;
	margin: 0;
	padding: 0;
	padding-top: 8px;
}

.child-item label {
	display: block;
	width: 65px;
	margin: 0;
	padding: 0;
	padding-top: 8px;
}

.minus:hover line,
.plus:hover line {
	stroke: #000000;
}

.minus:active line,
.plus:active line {
	stroke: #8bb2cf;
}

.last-row-item input[type="text"] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 38px;
	height: 38px;
	text-align: center;
	border: none;
	background-color: #f2f2f2;
}

.last-row-item button {
	margin: 0;
	padding: 0;
	width: 38px;
	height: 38px;
	text-align: center;
	border: none;
	background-color: #f2f2f2;
}

.search-item input:hover,
.last-row-item input:hover {
	background-color: #ebebeb;
}

.search-item input:focus,
.last-row-item input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.search-item input::-moz-placeholder,
.search-item input:-moz-placeholder,
.search-item input:-ms-input-placeholder,
.last-row-item input::-moz-placeholder,
.last-row-item input:-moz-placeholder,
.last-row-item input:-ms-input-placeholder {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.search-item input::-webkit-input-placeholder,
.last-row-item input::-webkit-input-placeholder,
.search-item input,
.last-row-item input {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.search-item button {
	font: inherit;
	color: #a9a9a9;
	background-color: #f2f2f2;
	border: none;
}

.search-item button:hover {
	color: #000000;
}

.search-item button:active {
	color: #81d3b2;
}

.button input {
	display: block;
	width: 458px;
	padding-top: 19px;
	padding-bottom: 18px;
	font: inherit;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	vertical-align: middle;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #81b3d2;
	border: none;
	cursor: pointer;
}

.button input:hover {
	background-color: #669ec0;
}

.button input:focus {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.modal {
	display: none;
}

.modal-show {
	display: block;
	-webkit-animation-name: bounce;
	        animation-name: bounce;
	-webkit-animation-duration: 0.6s;
	        animation-duration: 0.6s;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-400px);
		        transform: translateY(-400px);
	}
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: translateY(-400px);
		        transform: translateY(-400px);
	}
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
